<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.helloworld.mapper.giftMapper">

    <insert id="add_gift">
        <selectKey keyProperty="gift_id" resultType="int" order="BEFORE">
            select IFNULL(max(gift_id),0)+1 from tj_gift
        </selectKey>
        insert into tj_gift(gift_id,gift_name,image_url,stock,last_time,point)
        values (#{gift_id},#{gift_name},#{image_url},#{stock},#{last_time},#{point})
    </insert>



    <update id="update_gift">
        update tj_gift
        set gift_name=#{gift_name},
            image_url=#{image_url},
            stock=#{stock},
            last_time=#{last_time},
            point=#{point}
        where gift_id = #{gift_id}
    </update>
    <delete id="delete_gift">
        delete
        from tj_gift
        where gift_id = #{id}
    </delete>
    <select id="search_gift" resultType="tj_gift">
        select *
        from tj_gift
        where last_time > #{today} order by gift_id
    </select>

    <insert id="add_user_gift">
        insert into tj_user_gift
        values (#{user_id}, #{gift_id}, #{acquire_time})
    </insert>
    <delete id="delete_user_gift">
        delete
        from tj_user_gift
        where user_id = #{user_id}
          and gift_id = #{gift_id}
    </delete>
    <select id="search_user_gift_byUser" resultType="tj_user_gift">
         select * from tj_user_gift where user_id=#{user_id}
    </select>

    <select id="search_user_gift_byGift" resultType="tj_user_gift">
        select * from tj_user_gift where gift_id=#{gift_id}
    </select>
    <!--    个人觉得这里没必要改-->
    <select id="stock_sub">
        update tj_gift
        set
            stock=stock-1
            where gift_id = #{gift_id}
    </select>

    <select id="find_one" resultType="tj_gift">
        select * from tj_gift where gift_id=(#{id})
    </select>
</mapper>